/* your styles go here */
@media (min-width: 768px) .col-sm-6 {
	#customers div + div {
  		margin-left: 20px;
	}   
}

.me {
	width:400px; 
	height:400px;
}

p.social a.github {
  background-color: darkgray;
  border-color: darkgray;
}

p.social a.linkedin {
  background-color: #086AB6;
  border-color: #086AB6;
}
